.container{
    height:100px;
    background-color: #40826D;
    display:flex;
    align-items: center;
}

.text{
    margin: 0 8px;
    text-align: center;
}

.checkboxContainer{
    display:flex;
    align-items: center;
}