.container {
  height: 100px;
  background-color: #40826d !important;
  display: flex;
  align-items: center;
}

.maxHeight {
  max-height: 250px;
}

.text {
  margin: 0 8px !important;
  text-align: center;
}

.checkboxContainer {
  display: flex;
  align-items: center;
}
