.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: PT Serif;
}

.navbar {
  grid-column: 1/13;
  grid-row: 1;
}

.title {
  grid-column: 1/13;
  grid-row: 6;
  color: white;
  text-align: center;
}

.title > h1 {
  font-size: 2.5rem;
}

.button {
  grid-column: 1/13;
  grid-row: 9;
  margin: auto;
}

.button > button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  outline: none;
  border: 1px solid white;
  border-radius: 32px;
  font-size: 1.25rem;
  padding: 1rem;
}

.button > button:hover {
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

.button > button:active {
  background-color: rgba(0, 0, 0, 0.95);
}

.logos {
  grid-column: 1/13;
  grid-row: 11;
  margin: auto;
}

.logo {
  display: inline;
  margin-left: 16px;
  margin-right: 16px;
}
