.container {
  background-color: #fff5ee;
  height: 100vh;
}

.customCards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-gap: 8px;

  margin-top:8px;
}
