.container {
  background-color: #fff5ee;
  height: 100vh;
}

.contentContainer {
  justify-content: center;
  padding: 5rem 8rem 0rem 5rem;
}

.content {
  background-color: #8ba870 !important;
  width: 100%;
  padding: 0 2rem;
  color: white;
  text-align: justify;
  max-height: calc(100vh - 180px);
}

.titlu {
  font-size: 5rem;
  font-family: Italianno;
  font-weight: 500;
  margin: 2rem 0 0 0;
}

.description {
  font-size: 1.5rem;
  font-family: PT Serif;
  margin-top: 0;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0 2rem 0;
}

.image {
  width: 400px;
  max-height: 500px;
}
