.container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 245, 238, 1) 90%
  );
}

.container h2 {
  transition: 0.2s all;
  cursor: pointer;
}

.container h2:hover {
  transition: 0.2s all;
  color: rgb(240, 240, 240);
}

.mobileNavbar {
  background-color: #272727;
}
